@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Kode+Mono:wght@400..700&family=Koulen&family=Rubik+Mono+One&display=swap');
  
body {
    font-size: 18px;

    position: relative;

    min-height: 100vh;
    margin:0;
}

h1 {
    color: none;

    font-family: Arial, "Kode mono", serif;
    font-size: 10rem;
    text-align: center;

    cursor: default;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin-top: 0;
}

.hidden {
    visibility: hidden;
}


/* Code for color picker */

.colorDiv {
    position: absolute;
    left: .8rem;
    bottom: .8rem;  
    z-index: 40;
}
  
.colorPickers {
    display: flex;
    gap: .5rem;
}

.colorPicker {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 0;
}
  
button {
    font-size: 1.2rem;

    cursor: pointer;

    height: 2.66rem;
    border-radius: .4rem;
}
  
  
.colorPreview {
    width: 3rem;
    height: 1.35rem;
    padding: 0.0625rem 0.125rem;
    border: 0.25rem solid #ccc;
    border-radius: .2rem;
  
    cursor: pointer;
    z-index: 4;
}
  
#backgroundColorPreview:hover {
    animation: background-rainbow 5s linear infinite;
}
#contrastColorPreview:hover {
    animation: contrast-rainbow 5s linear infinite;
}
  

#backgroundColorPreview {
    background: inherit
}
  
  
#resetColorPickers {  
    width: 100%;
    margin-top: .4rem;
}

#resetColorPickers:active {
    transform: translateY(1px);
}



/* Animation for color picker */

@keyframes background-rainbow {
    0% {
        background: inherit;
    }
    14% {
        background: orange;
    }
    28% {
        background: yellow;
    }
    42% {
         background: green;
    }
    57% {
         background: blue;
    }
    71% {
        background: indigo;
    }
    85% {
        background: violet;
    }
    100% {
        background: red;
    }
}
  
  @keyframes contrast-rainbow {
    0% {
    }
    14% {
        background: orange;
    }
    28% {
        background: yellow;
    }
    42% {
        background: green;
    }
    57% {
        background: blue;
    }
    71% {
        background: indigo;
    }
    85% {
        background: violet;
    }
    100% {
        background: red;
    }
}